
.outer-container {
    display: flex;
    justify-content: center;
    width: 100%;
    min-height: 100vh;
    background-color: #ffffff;
    padding: 2rem 0;
}

.main-wrapper {
    width: 60%;
    display: flex;
    flex-direction: column;
    border: 1px solid #000000;
}

.header-box {
    background-color: #f3f3f2;
    border: 1px solid #000000;
    padding: 3rem 2rem;
    display: flex;
    justify-content: space-between;
    margin-top: 25px;
    margin-left: 25px;
    margin-right: 25px;
}

.content-box {
    background-color: #ffffff;
    margin: 25px;
    flex-grow: 1;
    display: grid;
    grid-template-columns: 7fr 3fr;
    grid-template-rows: 1fr 9fr;
    gap : 25px;
}

.top-left, .bottom-left, .right-panel {
    border: 1px solid #000000;
    background-color: #f3f3f2;
}


.right-panel {
    grid-column: 2;
    grid-row: 1 / span 2;
}

.top-left {
    grid-column: 1;
    grid-row: 1;
}

.bottom-left {
    grid-column: 1;
    grid-row: 2;
}

.item {
    font-weight: 500;
    color: #000000;
}